body {
  margin : 0;
}

#toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;

  background-color: transparent;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

#render-window {
  width: 100%;
  height: 100%;
}

.color-button {
  border: none;
  width: 60px;
  height: 60px;
}

.color-button.selected {
  outline: 3px solid white;
}
